:root{ 
    --red-10: #ffe7e6;
    --red-20: #feb7b3;
    --red-30: #fe8781;
    --red-40: #fd584e;
    --red-50: #fd281c;
    --red-60: #e30e02;
    --red-70: #b10b02;
    --red-80: #7e0801;
    --red-90: #4c0501;
    --red-100: #190200;

    --yellow-10: #fffde6;
    --yellow-20: #fff8b3;
    --yellow-30: #fef480;
    --yellow-40: #fef04e;
    --yellow-50: #feeb1b;
    --yellow-60: #e4d201;
    --yellow-70: #b1a301;
    --yellow-80: #7f7501;
    --yellow-90: #4c4600;
    --yellow-100: #191700;

    --blue-10: #eaf5fb;
    --blue-20: #bfe2f2;
    --blue-30: #94ceea;
    --blue-40: #6abae2;
    --blue-50: #3fa7d9;
    --blue-60: #268dc0;
    --blue-70: #1d6e95;
    --blue-80: #154e6b;
    --blue-90: #0d2f40;
    --blue-100: #041015;

    --light-10: #f8f8f9;
    --light-20: #ebebed;
    --light-30: #dedee0;
    --light-40: #d1d1d4;
    --light-50: #c3c3c8;
    --light-60: #b6b6bc;
    --light-70: #a9a9af;
    --light-80: #9c9ca3;
    --light-90: #8e8e97;
    --light-100: #81818a;

    --dark-10: #75757e;
    --dark-20: #686870;
    --dark-30: #5c5c63;
    --dark-40: #505056;
    --dark-50: #434349;
    --dark-60: #37373c;
    --dark-70: #2b2b2e;
    --dark-80: #1f1f21;
    --dark-90: #121214;
    --dark-100: #060607;
}

*{
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0em;
    padding: 0;
}
body {
    background-color: var(--dark-80);
    color: var(--light-10);
    width: 100%;
    height: 100vh;
}

.anchor-white {
    color: var(--light-10);
    text-decoration: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-name {
    padding-left: 25px;
}

.header-info {
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: bold;
}

.header-info-content {
    margin: 0 25px;
    padding: 15px 25px;
    border-radius: 10px;
    transition: ease 0.5s;
    color: var(--light-10);
    text-decoration: none;
}

.header-info-content:hover {
    margin: 0 25px;
    border-radius: 10px;
    background-color: var(--dark-60);
    color: var(--light-10);
    text-decoration: none;
    padding: 15px 25px;
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
}

.header-info-content-selected {
    margin: 0 25px;
    border-radius: 10px;
    background-color: var(--dark-60);
    color: var(--light-10);
    text-decoration: none;
    padding: 15px 25px;
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
}

.header-icons {
    padding-right: 25px;
    font-size: 1.25em;
    font-weight: bold;
}

.header-icons-content {
    margin: 0 25px;
    padding: 15px 25px;
    border-radius: 10px;
    transition: ease 0.5s;
    color: var(--light-10);
    text-decoration: none;
}

.header-icons-content:hover {
    margin: 0 25px;
    border-radius: 10px;
    background-color: var(--dark-60);
    padding: 15px 25px;
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
}

.header-icons-icons {
    font-size: 1.15em;
    margin: 0 10px 0 0;
}


#home .main-modes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5em auto 0 auto;
    padding: 2.5em;
    width: 50%;
    border-radius: 10px;
    background-color: var(--dark-60);
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
}

#home .main-modes-content {
    margin: 0 25px;
    border-radius: 10px;
    background-color: var(--dark-80);
    -webkit-box-shadow: 0px 5px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 5px 10px 0px var(--dark-90);
    box-shadow: 0px 5px 10px 0px var(--dark-90);
    padding: 25px 25px;
    cursor: pointer;
    transition: ease 0.5s;
}

#home .main-modes-anchor {
    color: var(--light-10);
    text-decoration: none;
}

#home .main-modes-content:hover {
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
    cursor: pointer;
    transform: translateY(-5px);
}

#login .main-body {
    margin: 10em auto 0 auto;
    padding: 2.5em 2em;
    width: 25%;
    height: 17em;
    border-radius: 10px;
    background-color: var(--dark-60);
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
}

#login .login-input-container {
    display: block;
    border: none;
    height: 2.5em;
    width: 100%;
    background-color: var(--dark-70);
    color: var(--light-10);
    caret-color: var(--light-10);
    border-radius: 10px;
    padding: 0.25em 0 0 0;
    margin: 1em 0 0 0;
}

#login .login-input {
    border: none;
    height: 2.5em;
    width: 95%;
    background-color: var(--dark-70);
    color: var(--light-10);
    caret-color: var(--light-10);
    margin-left: 0.25em;
}

#login .login-input:focus {
    outline: none;
}
#login .login-input:-webkit-autofill {
    box-shadow: 0 0 0 30px var(--dark-70) inset !important;
    -webkit-box-shadow: 0 0 0 30px var(--dark-70) inset !important;
    -webkit-text-fill-color: var(--light-10) !important;
}
#login .login-input {
    padding-left: 1em;
}
#login .login-input::placeholder {
    color: var(--light-10);
}

#login .login-button {
    display: block;
    border: none;
    height: 2.5em;
    width: 100%;
    background-color: var(--dark-70);
    color: var(--light-10);
    caret-color: var(--light-10);
    border-radius: 10px;
    padding: 0.25em 0 0.25em 0;
    margin: 1em 0 0 0;
    cursor: pointer;
}


#user .main-info {
    margin: 5em auto 0 auto;
    padding: 2.5em;
    width: 50%;
    height: 65vh;
    border-radius: 10px;
    background-color: var(--dark-60);
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
}

#user .main-info-name {
    display: flex;
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    background-color: var(--dark-80);
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
    padding: 25px 25px;
    transition: ease 0.5s;
}
#user .main-info-desc {
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    background-color: var(--dark-80);
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
    padding: 25px 25px;
    transition: ease 0.5s;
}

#user .main-info-pfp {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-right: 1.5em;
}
#user .main-info-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#user .main-info-links-text {
    margin: 0 25px;
    border-radius: 10px;
    background-color: var(--dark-80);
    -webkit-box-shadow: 0px 10px 10px 0px var(--dark-90);
    -moz-box-shadow: 0px 10px 10px 0px var(--dark-90);
    box-shadow: 0px 10px 10px 0px var(--dark-90);
    padding: 25px 25px;
    transition: ease 0.5s;
}