*{
    scroll-behavior: smooth;
    margin: 0em;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
a {
    text-decoration: none;
}

#home .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#news .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#messages .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
 
}
#themes .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
 
}
#user .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#extra .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#settings .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
.header-left {
    height: 100%;
    background-color: buttonface;
    overflow-x: hidden;
    padding-top: 2em;
    display: grid;
    grid-template-columns: 0.25fr 9.75fr;
}
.header-content {
    margin: 0 0 1.5em 16px;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
.main-center {
    padding-top: 2em;
    overflow-y: scroll;
}
.create-post {
    margin: 0 auto 2.5em auto;
    padding: 1em 2.5em 1em 2.5em;
    width: 75%;
    background-color: buttonface;
}
.create-post-input-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    border: none;
    width: 100%;
}
.create-post-input {
    border: none;
    height: 2.5em;
    width: 100%;
    background-color: buttonface;
    font-family: "Times New Roman";
    resize: none;
    font-size: x-large;
    font-weight: 500;
}
.create-post-input:focus {
    outline: none;
}
.create-post-button {
    border: none;
    border-radius: 10px;
    font-family: "Times New Roman";
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow:auto;
}
.post {
    margin: 0 auto 2.5em auto;
    padding: 2.5em;
    width: 50%;
    background-color: buttonface;
}
.post-content {
    margin: 25px 0 0 0;
    font-size: large;
    font-weight: 500;
}
.post-info {
    display: flex;    
}
.post-pfp {
    height: 60px;
    width: 60px;
    margin-right: 1.5em;
}

.more-info {
    margin: 5em auto 0 auto;
    padding: 2.5em;
    width: 50%;
    height: 65vh;
    border-radius: 10px;
}

.more-name {
    display: flex;
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.more-desc {
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.more-pfp {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-right: 1.5em;
}
.more-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.more-links-text {
    margin: 0 25px;
    border-radius: 10px;
    padding: 25px 25px;
    transition: ease 0.5s;
}

.profile {
    margin: 5em auto 0 auto;
    padding: 2.5em;
    width: 50%;
    height: 65vh;
    border-radius: 10px;
}
.profile-name {
    display: flex;
    margin: 1.25em 25px 2.5em 25px;
    border-radius: 10px;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.profile-desc {
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.profile-pfp {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-right: 1.5em;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

@media screen and (max-width: 1320px) {
    #header-text {
        display: none;
    }
    .header-icons {
        width: 100%;
        height: 100%;

    }
    .header-left {
        grid-template-columns: 1fr;
    }
    .header-content {
        margin: 1.5em 2em 0 2em;
        aspect-ratio: 1 /1;
    }
}
@media screen and (max-width: 1000px) {
    .posts {
        grid-template-columns: 1fr;
    }
}