:root {
    /* Colors */
    --red-10: #f8d5da;
    --red-20: #f1abb4;
    --red-30: #eb828f;
    --red-40: #e45869;
    --red-50: #dd2e44;

    --orange-10: #fde9ce;
    --orange-20: #fbd39e;
    --orange-30: #f8bc6d;
    --orange-40: #f6a63d;
    --orange-50: #f4900c;

    --yellow-10: #fff5de;
    --yellow-20: #feeabc;
    --yellow-30: #fee09b;
    --yellow-40: #fdd579;
    --yellow-50: #fdcb58;

    --green-10: #e4efde;
    --green-20: #c9e0bd;
    --green-30: #aed09b;
    --green-40: #93c17a;
    --green-50: #78b159;

    --blue-10: #ddeefc;
    --blue-20: #bbdef8;
    --blue-30: #99cdf5;
    --blue-40: #77bdf1;
    --blue-50: #55acee;

    --purple-10: #eee8f7;
    --purple-20: #ddd2ef;
    --purple-30: #ccbbe6;
    --purple-40: #bba5de;
    --purple-50: #aa8ed6;

    /* Theme Colors */
    --text: #fff;
    --primary: #000000;
    --sidebar: #000000;
    --container: #000000;
    --button: #1AEBFF;
    --shadow: #FFFF00;
    --sidebar-left-border: #fff;
}

*{
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0em;
    padding: 0;
}
body {
    background-color: var(--primary);
    color: var(--text);
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
a {
    color: var(--text);
    text-decoration: none;
}

#home .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#news .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#messages .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
 
}
#themes .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
 
}
#user .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
#settings .main-body {
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    height: 100vh;
    width: 100%;
}
.header-left {
    height: 100%;
    background-color: var(--sidebar);
    overflow: hidden;
    padding-top: 2em;
    border-right: 2px solid var(--sidebar-left-border);
    display: grid;
    grid-template-columns: 0.25fr 9.75fr;
}
.header-content {
    margin: 0 0 1.5em 16px;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--text);
    display: block;
}
.main-center {
    padding-top: 2em;
    overflow-y: scroll;
}
.create-post {
    margin: 0 auto 2.5em auto;
    padding: 1em 2.5em 1em 2.5em;
    width: 75%;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
}
.create-post-input-container {
    display: grid;
    grid-template-columns: 10fr 1fr;
    border: none;
    width: 100%;
    color: var(--text);
}
.create-post-input {
    border: none;
    height: 2.5em;
    width: 100%;
    background-color: var(--container);
    color: var(--light-10);
    resize: none;
    font-size: x-large;
    font-weight: 500;
}
.create-post-input:focus {
    outline: none;
}
.create-post-button {
    border: none;
    border-radius: 10px;
    background-color: var(--button);
    color: var(--primary);
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow:auto;
}
.post {
    margin: 0 auto 2.5em auto;
    padding: 2.5em;
    width: 50%;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
}
.post-content {
    margin: 25px 0 0 0;
    font-size: large;
    font-weight: 500;
}
.post-info {
    display: flex;    
}
.post-pfp {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-right: 1.5em;
}

.more-info {
    margin: 5em auto 0 auto;
    padding: 2.5em;
    width: 50%;
    height: 65vh;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
}

.more-name {
    display: flex;
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.more-desc {
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.more-pfp {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-right: 1.5em;
}
.more-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.more-links-text {
    margin: 0 25px;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
    padding: 25px 25px;
    transition: ease 0.5s;
}
#login .main-body {
    height: 18em;
    margin: 10em auto 0 auto;
    padding: 2.5em 2em;
    width: 25%;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
}
#signin .main-body {
    height: 22em;
    margin: 10em auto 0 auto;
    padding: 2.5em 2em;
    width: 25%;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
}
.login-input-container {
    display: block;
    border: none;
    height: 2.5em;
    width: 100%;
    background-color: var(--button);
    color: var(--text);
    caret-color: var(--text);
    border-radius: 10px;
    padding: 0.25em 0 0 0;
    margin: 1em 0 0 0;
}
.login-input-tos {
    border: none;
    color: var(--text);
}
.login-input {
    border: none;
    height: 2.5em;
    width: 95%;
    background-color: var(--button);
    color: var(--text);
    caret-color: var(--text);
    margin-left: 0.25em;
}
.login-input:focus {
    outline: none;
}
.login-input:-webkit-autofill:hover:-webkit-autofill,
.login-input:-webkit-autofill:hover:-webkit-autofill:hover, 
.login-input:-webkit-autofill:hover:-webkit-autofill:focus, 
.login-input:-webkit-autofill:hover:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--button) inset !important;
    -webkit-box-shadow: 0 0 0 30px var(--button) inset !important;
    -webkit-text-fill-color: var(--button) !important;
}
.login-input:-webkit-autofill {
    box-shadow: 0 0 0 30px var(--button) inset !important;
    -webkit-box-shadow: 0 0 0 30px var(--button) inset !important;
    -webkit-text-fill-color: var(--button) !important;
}
.login-input {
    padding-left: 1em;
}
.login-input::placeholder {
    color: var(--text);
}
.login-button {
    display: block;
    border: none;
    height: 2.5em;
    width: 100%;
    background-color: var(--button);
    color: var(--text);
    caret-color: var(--text);
    border-radius: 10px;
    padding: 0.25em 0 0.25em 0;
    margin: 1em 0 0 0;
    cursor: pointer;
}

.profile {
    margin: 5em auto 0 auto;
    padding: 2.5em;
    width: 50%;
    height: 65vh;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
}
.profile-name {
    display: flex;
    margin: 1.25em 25px 2.5em 25px;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.profile-desc {
    margin: 0 25px 2.5em 25px;
    border-radius: 10px;
    background-color: var(--container);
    border: var(--shadow) 2px solid;
    padding: 25px 25px;
    transition: ease 0.5s;
}
.profile-pfp {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-right: 1.5em;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--sidebar);  
    border-radius: 10px;
}

@media screen and (max-width: 1320px) {
    #header-text {
        display: none;
    }
    .header-icons {
        width: 100%;
        height: 100%;

    }
    .header-left {
        grid-template-columns: 1fr;
    }
    .header-content {
        margin: 1.5em 2em 0 2em;
        aspect-ratio: 1 /1;
    }
}
@media screen and (max-width: 1000px) {
    .posts {
        grid-template-columns: 1fr;
    }
}