:root{ 
    /* Colors */
    --success: #43a047;
    --info: #00acc1;
    --warning: #fb8c00;
    --danger: #e53935;

    /* Theme Colors */

    --light-text: #060607;
    --dark-text: #f8f8f9;

    --light-primary: #dedee0;
    --dark-primary: #1f1f21;

    --light-sidebar: #ebebed;
    --dark-sidebar: #121214;

    --light-container: #c3c3c8;
    --dark-container: #37373c;

    --light-button: #d1d1d4;
    --dark-button: #2b2b2e;

    --light-shadow: #ebebed;
    --dark-shadow: #121214;

    --light-sidebar-right-border: #d1d1d4;
    --dark-sidebar-left-border: #2b2b2e;
}