@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    /* Colors */
    --red-10: #ffe5e5;
    --red-20: #ffb3b3;
    --red-30: #ff8080;
    --red-40: #ff4d4d;
    --red-50: #ff1a1a;

    --orange-10: #ffece5;
    --orange-20: #ffc7b3;
    --orange-30: #ffa280;
    --orange-40: #ff7d4d;
    --orange-50: #ff581a;

    --yellow-10: #ffffe5;
    --yellow-20: #fffeb3;
    --yellow-30: #fffe80;
    --yellow-40: #fffd4d;
    --yellow-50: #fffc1a;

    --green-10: #ecf9ef;
    --green-20: #c5edcf;
    --green-30: #9ee1b0;
    --green-40: #77d590;
    --green-50: #50c970;

    --blue-10: #e7f4fd;
    --blue-20: #b7dffa;
    --blue-30: #87caf7;
    --blue-40: #58b5f4;
    --blue-50: #28a0f1;

    --purple-10: #f6ebfa;
    --purple-20: #e3c2f0;
    --purple-30: #d099e6;
    --purple-40: #bd70dc;
    --purple-50: #aa47d2;

    --main-bg-dark: #3c3d41;
    
    --header-color: #fff;
    --subheader-color: #000;
    --text-color: #000;
}

body {
    background: url('background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: var(--main-text-color);
}

/* Header */

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
    background: url('background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header-logo {
    width: 50px;
}
.navigation a {
    color: var(--header-color);
    text-decoration: none;
    font-size: 1.25em;
    padding-left: 30px;
    text-decoration: none;
}
.navigation a:hover {
    text-decoration: underline;
}

/* Main Body */

.main-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    min-height: 100vh;
    padding: 100px 300px 100px 300px;
}
.main-body h1 {
    color: var(--header-color);
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 30px;
}
.main-body h2 {
    color: var(--header-color);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Features */

.feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 50vh;
    padding: 50px 300px 50px 300px;
}
.feature h1 {
    color: var(--header-color);
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 30px;
}
.feature p {
    color: var(--header-color);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1em;
    margin-bottom: 30px;
}
.feature-image-container {
    display: flex;
    justify-content: center;
}
.feature-image {
    display: block;
    width: 50%;
}
/* Scroll bar */

::-webkit-scrollbar {
    display: none;
}

/* Footer */

.footer {
    padding: 40px 0;
    background-color: var(--main-bg-dark);
    color: #f5f6f7;
}
.footer-info {
    margin: 0 auto;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 300px;
    padding-bottom: 2em;
    border-bottom: 2px solid #f5f6f7;
}
.footer-acknowledgement {
    margin: 0 300px;
    padding: 2em 0;
    border-bottom: 2px solid #f5f6f7;
}
.footer-content-text  {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}
.footer-content-top {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}